:root {
      --base-font-size: 14px;
      --theme-color: rgb(232, 35, 43);
      --content-max-width: 100em;
      --cover-background-color: rgba(240, 240, 240, 1);
      --cover-background-image: ;
      --sidebar-width: 25rem;
      --sidebar-nav-pagelink-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28179, 179, 179%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
      --sidebar-nav-pagelink-background-image--active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.2' height='7' viewBox='0 0 11.2 7'%3E%3Cpath d='M1.5 1.5l4.1 4 4.1-4' stroke-width='1.5' stroke='rgb%28232,35,43%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
      --sidebar-nav-pagelink-background-image--collapse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28232,35,43%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
      --sidebar-nav-pagelink-background-image--loaded: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11.2' viewBox='0 0 7 11.2'%3E%3Cpath d='M1.5 1.5l4 4.1 -4 4.1' stroke-width='1.5' stroke='rgb%28179, 179, 179%29' fill='none' stroke-linecap='square' stroke-linejoin='miter' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E");
      --sidebar-toggle-offset-top: 40px;
      /* --navbar-root-padding: 5px; */
      --navbar-root-margin: 10px;
      --navbar-root-color: rgba(255, 255,255, .75);
      --navbar-root-color--hover: rgba(255, 255,255, .50);
      --zoomimage-overlay-background: rgba(255, 255, 255);
}
nav.app-nav {
      position: fixed;
      /* background-color: rgba(150, 150, 150, 1); */
      background-color: #333;
      text-align: center;
      /* padding-left: 10px; */
      left: 0;
      right: 0;
      top: 0;
      overflow: hidden;
      display: inline;
}
nav.app-nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 14px;
  /* border-bottom: 3px solid transparent; */
}

/* nav.app-nav  a:hover {
  border-bottom: 3px solid red;
}

nav.app-nav a.active {
  border-bottom: 3px solid red;
} */

a.github-corner{
      position: fixed;
}
